# Assignment_3

# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side

use workDatabase;
SELECT RTRIM(FIRST_NAME) FROM WORKER;

# Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

SELECT DISTINCT DEPARTMENT, LENGTH(DEPARTMENT) AS departmentNameLength FROM worker;

# Q-3. Write an SQL query to fetch nth max salaries from a table.

select salary from employee order by salary DESC limit 5,1;