# Assignment_7

# Q-13. Write an SQL query to show only odd rows from a table.

use workDatabase;
SELECT * FROM Worker WHERE MOD (empno, 2) <> 0;

# Q-14. Write an SQL query to clone a new table from another table.

select * into employee1 from worker;

select * from employee1;