# Assignment_7

# Q-13. Write an SQL query to show only odd rows from a table.

use workDatabase;
SELECT * FROM Worker WHERE MOD (empno, 2) <> 0;

# Q-14. Write an SQL query to clone a new table from another table.

SELECT gender, department, COUNT() FROM worker GROUP BY gender, department HAVING COUNT() > 1;

# Q-3. How to remove duplicate rows from worker table.

DELETE c1 FROM worker c1
INNER JOIN worker c2
WHERE
c1.salary > c2.salary AND
c1.LAST_NAME = c2.LAST_NAME