# Assignment_10

# Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.
SELECT Salary FROM Worker W1 WHERE 4 = ( SELECT COUNT( DISTINCT ( W2.Salary ) ) FROM Worker W2 WHERE W2.Salary >= W1.Salary );

# Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.
SELECT Salary FROM Worker ORDER BY Salary DESC LIMIT 5,1; where n = 5